.group_field label {
  display: block;
}
.group_field .field_input {
  margin-top: 4px;
  background: #fafafa;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  height: 40px;
  padding: 12px 8px;
  color: #aeaeae;
}
