.group_field label {
  display: block;
}
.group_field .field_input {
  margin-top: 4px;
  background: #FAFAFA;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  height: 40px;
  padding: 12px 8px;
  color: #AEAEAE;
}